*{
    outline: none;
    font-family: "Inter", sans-serif;
}

.resume-container{
  width:210mm;
  min-height:297mm;
  padding:5mm;
  box-sizing:border-box;
  background:white;
}
.resume-section{
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom:18px;
}
.resume-item{
  page-break-inside: avoid;
  break-inside: avoid;
}