@import 'tailwindcss';
*{
    outline: none;
    font-family: "poppins", sans-serif;
}

@media print {
  @page {
    size: A4;
    
  }

  body {
    margin: 0;
    background: white;
  }

  .no-print {
    display: none !important;
  }

  .shadow-md,
  .shadow-sm,
  .shadow-lg {
    box-shadow: none !important;
  }

  #resume-preview {
    width: 100%;
  }
}

